<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.4.5/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.4.5/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/css/course.css">
    <script type="text/javascript" src="/static/jquery-easyui-1.4.5/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui-1.4.5/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui-1.4.5/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/scripts/comm.js"></script>
    <script type="text/javascript" src="/scripts/admin/course.treegrid.js"></script>
</head>
<body>
<div id="w" class="easyui-window" title="请选择听课教师" data-options="iconCls:'icon-save',closed:'true'" style="width:800px;height:450px;padding:5px;">
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'east',split:true" style="width:100px"></div>
        <div data-options="region:'center'" style="padding:10px;">
            <table id="listen" class="easyui-datagrid" title="数据表格"  noheader="true"
                   data-options="iconCls:'icon-more',plain:true" fit="true" >
            </table>
        </div>
        <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
            <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="javascript:alert('ok')" style="width:80px">Ok</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="javascript:alert('cancel')" style="width:80px">Cancel</a>
        </div>
    </div>
</div>
</body>
</html>