<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入 echarts.js -->
    <script src="/static/echarts.js"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="height:800px;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    // 指定图表的配置项和数据
    var xAxis_data={$xAxis};
    var option = {
        title: {
            text: '部门人员统计'
        },
        tooltip: {},
        legend: {
            data:['人数']
        },
        xAxis: {
            data: xAxis_data, //["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
            nameGap:130,
            position:"top",
            nameRotate:15
        },
        yAxis: {},
        series: [{
            name: '人数',
            type: 'bar',
            barWidth:30,
            barCategoryGap:"50%",
            data: [{$series}]//[5, 20, 36, 10, 10, 20]
        }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
</body>
</html>