<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui/themes/icon.css">
    <script type="text/javascript" src="/static/jquery-easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/scripts/admin/index.login.js"></script>
</head>
<body>
<div align="center" id="main">
    <h2>登录界面</h2>
    <div class="easyui-panel" title="帐号登录" style="width:400px">
        <div style="padding:10px 60px 20px 60px">
            <form id="ff" method="post" action="">
                <table cellpadding="5">
                    <tr>
                        <td>帐号</td>
                        <td><input  type="text" name="id" id="id" />
                        </td>
                    </tr>
                    <tr>
                        <td>密码</td>
                        <td><input  type="password" name="password" id="password"   /></td>

                    </tr>
                    <!--<tr>-->
                        <!--<td>验证码</td>-->
                        <!--<td>-->
                            <!--<input class="easyui-textbox" type="text" name="captcha" id="yzm"-->
                                   <!--data-options="required:true"/></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td colspan="2">-->
                            <!--<img id="captcha_img" onclick="this.src='{:captcha_src()}?d='+Math.random();" alt="点击更换"  title="点击更换" src="{:captcha_src()}" class="m">-->
                            <!--<div>{:captcha_img()}</div>-->
                        <!--</td>-->

                    <!--</tr>-->
                </table>
                <div style="text-align:center;padding:5px">
                    <input type="button" value="登录" onclick="dologin()"/>
                    <input type="button" value="清空" onclick="clearForm()"/>
                    <input type="reset" name="reset" style="display: none;"/>
                </div>
                <div id="msg"></div>
            </form>
        </div>
    </div>
</div>
</body>
</html>