<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Basic Form - jQuery EasyUI Demo</title>
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.4.5/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.4.5/themes/icon.css">
    <script type="text/javascript" src="/static/jquery-easyui-1.4.5/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui-1.4.5/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui-1.4.5/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/scripts/admin/index.login.js"></script>
</head>
<body>
<div align="center" id="main">
<h2>登录界面</h2>
<div class="easyui-panel" title="帐号登录" style="width:400px">
    <div style="padding:10px 60px 20px 60px">
        <form id="ff" method="post" action="http://10.127.98.246/index.php/admin/index/authentication">
            <table cellpadding="5">
         <!--       <tr>
                    <td>
                        登录选项
                    </td>
                    <td>
                        <select id="statu" class="easyui-combobox" panelHeight="auto" style="width:100px" name="statu">
                        <option value="teacher" selected>教师登录</option>
                        <option value="supervisor">督导登录</option>
                        <option value="Administrator">管理员登录</option>
                        </select>
                    </td>
                </tr>-->
                <tr>
                    <td>帐号</td>
                    <td><input class="easyui-textbox" type="text" name="id" id="id" data-options="required:true" /></td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td><input class="easyui-textbox" type="password" name="password" id="password" data-options="required:true" /></td>

                </tr>
                <tr>
                    <td>验证码</td>
                    <td>
                        <input class="easyui-textbox" type="text" name="captcha" id="yzm" data-options="required:true" /></td>
                </tr>
                <tr>
                    <td colspan="2"><img src="{:captcha_src()}" alt="captcha" /></td>

                </tr>
            </table>

            <div style="text-align:center;padding:5px">
                <input type="submit"  value="登录" />
                <input type="button"  value="清空" onclick="clearForm()" />
                <input type="reset" name="reset" style="display: none;" />
            </div>
        </form>
    </div>
</div>
</div>

</body>
</html>