<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据表格</title>
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui/themes/icon.css">
    <script type="text/javascript" src="/static/jquery-easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/scripts/comm.js"></script>
    <script type="text/javascript" src="/scripts/admin/schedule.form.js"></script>
</head>
<body>
<div class="easyui-panel" title="编辑" style="width:600px;padding:10px 20px 20px 20px">
    <form id="ff" method="post">
        <table>
            <tr>
                <td>学期</td>
                <td>
                    <input id="teach_id" class="easyui-textbox" type="text" name="data[teach_id]" data-options=""  />
                </td>
            </tr>
            <tr>
                <td>班级名称</td>
                <td>
                    <input  id="class_name" class="easyui-textbox" type="text" name="data[class_name]"  data-options="required:true"/>
                </td>
            </tr>
            <tr>
                <td>班级教室</td>
                <td><input class="easyui-textbox" type="text" name="data[class_room]" data-options="required:true"/></td>
            </tr>
            <tr>
                <td>课程名称</td>
                <td><input class="easyui-textbox" name="data[course_name]" data-options=""/>
                </td>
            </tr>
            <tr>
                <td>周次</td>
                <td>
                    <input class="easyui-textbox" name="data[week]" value="">
                </td>
            </tr>
            <tr>
            <tr>
                <td>星期</td>
                <td>
                    <input class="easyui-textbox" name="data[xing_qi_ji]" value="">
                </td>
            </tr>
            <tr>
            <tr>
                <td>节次</td>
                <td>
                    <input class="easyui-textbox" name="data[section]" value="">
                </td>
            </tr>
            <tr>
            <tr>
                <td>原因</td>
                <td>
                    <input class="easyui-textbox" name="data[reason]" value="">
                </td>
            </tr>
            <tr>
            <tr>
                <td>调后周次</td>
                <td>
                    <input class="easyui-textbox" name="data[alt_week]" value="">
                </td>
            </tr>
            <tr>
            <tr>
                <td>调后星期</td>
                <td>
                    <input class="easyui-textbox" name="data[alt_xq]" value="">
                </td>
            </tr>
            <tr>
            <tr>
                <td>调后节次</td>
                <td>
                    <input class="easyui-textbox" name="data[alt_section]" value="">
                </td>
            </tr>
            <tr>
            <tr>
                <td>调后教室</td>
                <td>
                    <input class="easyui-textbox" name="data[alt_class_room]" value="">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="saveForm()">保存并继续添加</a>
                    <a href="http://10.127.98.246/index.php/admin/schedule/index" class="easyui-linkbutton" >保存并返回</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">清除</a>
                </td>
            </tr>
        </table>
    </form>

</div>
</body>
</html>