    <!DOCTYPE html>
    <html>
    <head>
    	<meta charset="UTF-8">
    	<title>学生信息</title>
    	<link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.4.5/themes/default/easyui.css">
    	<link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.4.5/themes/icon.css">
    	<script type="text/javascript" src="/static/jquery-easyui-1.4.5/jquery.min.js"></script>
    	<script type="text/javascript" src="/static/jquery-easyui-1.4.5/jquery.easyui.min.js"></script>
		<script type="text/javascript" src="/static/jquery-easyui-1.4.5/locale/easyui-lang-zh_CN.js"></script>
		<script>
		$(document).ready(function(){
			$('#grid').datagrid({
				url:'http://10.127.98.246/index.php/fjs/index/index6',
				method:'get',
				rownumbers:true,
				fitcolumns:true,
				singleSelect:true,
				collapsible:false,
				pagination:true,
				columns:[[
					{field:'tech_id',title:'教师编号'},
					{field:'dept_name',title:'所属部门'},
					{field:'teach_name',title:'姓名',sortable:true},
					{field:'sex',title:'性别'},
					{field:'teach_pass',title:'密码'},
					{field:'In_school_time',width:'85px',title:'入校时间'}
				]]
			});
		});
		</script>
    </head>
    <body>
    	<table id= "grid" class="easyui-datagrid" title="学生信息表单" style="width:750px" >
    	</table>
    </body>
    </html>