<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据表格</title>
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.4.5/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.4.5/themes/icon.css">
    <script type="text/javascript" src="/static/jquery-easyui-1.4.5/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui-1.4.5/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui-1.4.5/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/scripts/comm.js"></script>
    <script type="text/javascript" src="/scripts/admin/tea.form.js"></script>
</head>
<body>
<div class="easyui-panel" title="{$operation}" style="width:600px;padding:10px 20px 20px 20px">
    <form id="ff" method="post">
        <table>
            <tr>
                <td>系部</td>
                <td>
                    <input id="dept_name"  name="data[dept_name]" data-options="required:true" value="{$record.dept_name?$record.dept_name:''}"/>
                </td>
            </tr>
            <tr>
                <td>教师姓名</td>
                <td>
                    <input  id="class_name" class="easyui-textbox" type="text" name="data[teach_name]"  data-options="required:true"value="{$record.teach_name?$record.teach_name:''}"/>
                </td>
            </tr>
            <tr>
                <td>性别</td>
                <td><input class="easyui-textbox" type="text" name="data[sex]" data-options="required:true"value="{$record.sex?$record.sex:''}"/></td>
            </tr>
            <tr>
                <td>教师角色</td>
                <td>
                    <input class="easyui-textbox" name="data[teach_role]" value="{$record.teach_role?$record.teach_role:''}">
                </td>
            </tr>
            <tr>
                <td>教师编号</td>
                <td><input class="easyui-textbox" name="data[teach_id]" data-options="" value="{$record.teach_id?$record.teach_id:''}"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="hidden" name="operation" value="{$operation=='编辑'?'update':'add'}"/>
                    <a href="#" class="easyui-linkbutton" onclick="saveForm()">保存</a>
                    <a href="http://10.127.98.246/index.php/admin/Tea/index" class="easyui-linkbutton">返回</a>
                    <a href="#" class="easyui-linkbutton" onclick="clearForm()">清除</a>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>