<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据表格</title>
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui/themes/icon.css">
    <script type="text/javascript" src="/static/jquery-easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/scripts/comm.js"></script>
    <script type="text/javascript" src="/scripts/admin/tea.form.js"></script>
</head>
<body>
<div class="easyui-panel" title="编辑" style="width:600px;padding:10px 20px 20px 20px">
    <form id="ff" method="post">
        <table>
            <tr>
                <td>教师编号</td>
                <td>
                    <input id="dept_name" class="easyui-textbox" type="text" name="data[tech_id]"   data-options="required:true" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <a href="#" class="easyui-linkbutton" onclick="delForm()">删除</a>
                    <a href="#" class="easyui-linkbutton" onclick="clearForm()">清除</a>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>