<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>数据表格</title>
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui/themes/icon.css">
    <script type="text/javascript" src="/static/jquery-easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/scripts/comm.js"></script>
    <script type="text/javascript" src="/scripts/admin/teacher.treegrid.js"></script>
</head>
<body>
<div class="easyui-layout" fit="true">

    <div data-options="region:'north'" border="false" style="height:90px;padding: 10px">
        <!-- 查找的区域 -->
        <div id="searchToolbar" class="easyui-panel" fit="true" title="筛选条件"
             data-options="iconCls:'icon-government',plain:true" style="padding:5px;margin-bottom: 10px">
            <form id="frm_search" action="" method="post">
                    <!--<div style="margin-bottom:20px; with:100px;float:left;">-->
                        <!--<label class="label-top">系部筛选:</label>-->
                        <!--<input id="cc" class="easyui-combotree"-->
                               <!--name="dict[dept_name]"    style="width:75%;">-->
                     <!--</div>-->
                <div>
                    职位: <input class="easyui-text"style="width:110px" name="dict[location]">
                    专业: <input class="easyui-text" style="width:110px" name="dict[profess_duty]">
                    教师名: <input class="easyui-text" style="width:110px" name="dict[teach_name]">
                    角色:<input class="easyui-text" style="width:110px" name="dict[teach_role]">
                    职位:<input class="easyui-text" style="width:110px" name="dict[location]">
                   督导: <select class="easyui-text" style="width:50px" name="dict[conuncilor]">
                    <option value="全部" selected>全部</option>
                    <option value="是">是</option>
                    <option value="否">否</option>
                </select>
                    是否免听: <select class="easyui-text" style="width:50px" name="dict[passed]">
                                 <option value="全部" selected>全部</option>
                                <option value="是">是</option>
                                <option value="否">否</option>
                             </select>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="query()">查找</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="clearForm()">清空条件</a>
                </div>
                <!--系部: <input class="easyui-text" style="width:110px" name="dict[dept_name]">-->
                <!-- url:'http://10.127.98.246/index.php/admin/Tea/tree_josn',-->
            </form>
            <form id="frm_download" method="post"></form>
        </div>
    </div>
<!-- 操作工具栏 -->
    <div data-options="region:'center'" border="false" style="padding:10px;">
        <div id="editToolbar" style="clear: both">
            <!--<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="edit()">编辑</a>-->
            <!--<a href="/index.php/admin/tea/add" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>-->
            <!--<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="removeRecord()">删除</a>-->
            <!--<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:true" onclick="reload()">刷新</a>-->
            <!--<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-help',plain:true">帮助</a>-->
            <!--<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-upload',plain:true" onclick="importDialog()">导入</a>-->
            <!--<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-download',plain:true" onclick="exportXls()">导出</a>-->
            <!--<a href="/index.php/admin/Tea/pt" class="easyui-linkbutton" data-options="iconCls:'icon-print',plain:true">打印</a>-->

            <!--<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-trashcan',plain:true" onclick="removeall()">清除所有记录</a>-->
        </div>
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'west',collapsed:false,split:true" style="width:240px">
                <ul id="tt" class="easyui-tree" style="padding:10px" name="dict[dept_name]">

                </ul>
            </div>
            <div data-options="region:'center'">
                <!-- DataGrid -->
                <table id="datagrd" class="easyui-datagrid" style="width:100%;height:500px;"
                       toolbar="#editToolbar"
                       data-options="iconCls:'icon-more',plain:true" fit="true">
                </table>
            </div>
            <div data-options="region:'east',collapsed:false,split:true" style="width:500px">
                <div id="tab_note" class="easyui-tabs" fit="true" style="padding: 5px;">

                    <div title="邮件通知" data-options="closable:false" style="overflow:auto;padding:10px;display:none;">
                        <form style="padding: 10px">
                            <input class="tb" type="text" style="width: 100%;margin-bottom:10px" >
                            <textarea  id="txt_email" rows="10" style="width: 100%;margin-top:10px"></textarea>
                            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-mail',plain:false" onclick="email()">立即发送邮件通知</a>
                            <input id="cbo_dt_email" type="checkbox" />定时发送
                            <input id="dt_email" />

                        </form>
                    </div>
                    <div title="短信通知" data-options="closable:true" style="display:none;">
                        <form style="padding: 10px">
                            <textarea id="txt_sms" rows="10" style="width: 100%;margin-top:10px"></textarea>
                            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-sms',plain:false" onclick="sendSMS()">立即发送短信通知</a>
                            <input id="cbo_dt_sms" type="checkbox" />定时发送
                            <input id="dt_sms" />
                        </form>
                    </div>
                </div>

            </div>
        </div>



    </div>

</div>
</body>
</html>