<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>教师督导</title>
        <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.4.5/themes/default/easyui.css">
        <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.4.5/themes/icon.css">
        <!--<link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.4.5/demo/demo.css">-->

        <script type="text/javascript" src="/static/jquery-easyui-1.4.5/jquery.min.js"></script>
        <script type="text/javascript" src="/static/jquery-easyui-1.4.5/jquery.easyui.min.js"></script>
        <script type="text/javascript" src="/static/jquery-easyui-1.4.5/locale/easyui-lang-zh_CN.js"></script>


        <link rel="stylesheet" type="text/css" href="/static/mcwcss/top.css">
        <script type="text/javascript">
            function addTab(title, url){
                if ($('#sy').tabs('exists', title)){
                    $('#sy').tabs('select', title);
                } else {
                    var content = '<iframe scrolling="no" frameborder="0"  src="'+url+'" style="width:100%;height:100%;"></iframe>';
                    $('#sy').tabs('add',{
                        title:title,
                        content:content,
                        closable:true
                    });
                }
            }
            function menuHandler(item){
                $('#log').prepend('<p>Click Item: '+item.name+'</p>');
            }
            $(function(){
                $(document).bind('contextmenu',function(e){
                    e.preventDefault();
                    e.stopPropagation();
                    $('#bwl_m').menu('show', {
                        left: e.pageX,
                        top: e.pageY
                    });
                });
            });


        </script>
    </head>
    <body >
            <div id="p" class="easyui-panel" title="主页" >
                                <div id="caidan" title="菜单" data-options="selected:true"  class="page_left_menu">
                                    <a href="#" class="easyui-linkbutton"  style="width:100%" data-options="size:'large',iconCls:'icon-man'" onclick="addTab('个人信息','http://10.127.98.246/index.php/mcw/info/meninfo')">个人信息</a>
                                    <br/>
                                    <a href="#" class="easyui-linkbutton" style="width:100%" data-options="size:'large',iconCls:'icon-man'" onclick="addTab('百度','http://www.baidu.com/')">待办事项</a>
                                    <br/>
                                    <a href="#" class="easyui-linkbutton" style="width:100%" data-options="size:'large',iconCls:'icon-man'" onclick="addTab('easyui','http://jeasyui.com/')">成绩查询</a>
                                </div>

                    <div id="caozuo" data-options="region:'center',title:'操作界面',iconCls:'icon-ok'">
                                <div id="sy" class="easyui-tabs" data-options="fit:true,border:true,plain:false">
                                </div>
                    </div>
            </div>
            <div class="ds_jieshao"></div>
.   </body>
</html>
