<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Basic DataGrid - jQuery EasyUI Demo</title>
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.4.5/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.4.5/themes/icon.css">
	<script data-main="/scripts/guowushi/main.js" src="/scripts/require.js"></script>
</head>
<body>

<!-- 查找的区域 -->

<div id="searchToolbar" style="padding:2px 5px;">
    <form action="http://10.127.98.246/index.php/guowushi/controllerguowushi/action4" method="post">
    姓名: <input class="easyui-datebox" style="width:110px" name="name">
    学号: <input class="easyui-datebox" style="width:110px" name="student_id">
    班级:
    <select class="easyui-combobox" panelHeight="auto" style="width:100px" name="class">
        <option value="java">Java</option>
        <option value="c">C</option>
        <option value="basic">Basic</option>
        <option value="perl">Perl</option>
        <option value="python">Python</option>
    </select>
    <input type="submit" name="submit" value="提交" />
    <a href="#" class="easyui-linkbutton" iconCls="icon-search">查找</a>
    </form>
</div>


    <table id="datagrd" class="easyui-datagrid" title="Basic DataGrid" style="width:100%;height:500px" toolbar="#searchToolbar">
        <!--<thead>
            <tr>
                <th>班级</th>
                <th>学号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>身份证</th>
                <th>电话</th>
            </tr>
        </thead>-->
    </table>
 
</body>
</html>