<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>听课结果录入</title>
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui/themes/icon.css">
    <script type="text/javascript" src="/static/jquery-easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/scripts/admin/evaluate.form.js"></script>
    <style>
        #ff fieldset {
            border-color: #fefefe;
        }

        #ff fieldset div {
            margin-top: 5px;
        }

        #ff fieldset div label {
            font-weight: bold;
            /*  width: 100px;
              display: block;
              float: left;*/
            text-align: right;
        }

        #ff fieldset div label + input, #ff fieldset div label + select {
            color: #0e90d2;
            width: 200px;
        }
    </style>
</head>
<body>
<div id="class_information" align="center" style="padding-left:50px;padding-right: 50px;">
    <div class="easyui-panel" title="" style="border: none">
        <form id="ff" method="post">
            <fieldset style="padding: 20px">
                <legend>课程信息</legend>
                <div>
                    <!--<div>-->
                        <!--学期：{$schedule['term']}-->
                        <!--教师：{$schedule['teach_name']}（{$schedule['teach_id']}）-->
                        <!--系部：{$schedule['dept_name']}-->
                        <!--时间：{$schedule['time']}-->
                        <!--地点：{$schedule['class_room']}-->
                        <!--学生人数：{$schedule['stu_due_number']}-->
                        <!--班级：{$schedule['class_name']}-->
                        <!--课程：{$schedule['course_name']}-->
                        <!--{$schedule['week']}-{$schedule['xing_qi_ji']}-{$schedule['section']}-->
                    <!--</div>-->

                    <label>学期:</label>
                    <input  type="text" name="data[term]" style="width:150px" value="2015-2016-1" readonly/>
                    <label>系部:</label>
                    <input  name="data[dept_name]" value="{$schedule['dept_name']}" readonly />
                    <label>
                        教师工号:
                    </label>
                    <input  type="text" name="data[teacher_id]" value="{$schedule['teach_id']}" readonly/>
                    <label>
                        教师姓名:
                    </label>
                    <input  type="text" name="data[teacher]" value="{$schedule['teach_name']}" readonly/>
                    <label>班级:</label>
                    <input type="text" name="data[class_name]" value="{$schedule['class_name']}" readonly/>
                    <label>课程名称:</label>
                    <input  type="text" name="data[course_name]" value="{$schedule['course_name']}" readonly />
                </div>
                <div>
                    <label>日期:</label>
                    <input   type="text" name="data[time]" value="{$schedule['time']}" />
                    <label>周次:</label>
                    <input  name="data[week]" style="width: 50px" value="{$schedule['week']}"  />
                    <label>星期几:</label>
                    <input  name="data[xing_qi_ji]" value="{$schedule['xing_qi_ji']}" style="width: 100px" readonly />
                    <label>节次:</label>
                    <input   name="data[section]" style="width: 100px"  value="{$schedule['section']}" readonly/>
                    <label>教室:</label>
                    <input type="text" name="data[class_room]" readonly   value="{$schedule['class_room']}"/>
                </div>
                <fieldset style="margin-top: 20px">
                    <legend>结果</legend>
                    <div>
                        <label>应到学生:</label>
                        <input id="stu_due_num" type="text" name="data[stu_due_num]" style="width:50px" value="0"/>
                        <label>迟到学生:</label>
                        <input type="text" name="data[stu_late_num]" style="width:50px" value="0"/>
                        <label>早退学生:</label>
                        <input type="text" name="data[stu_leave_num]" style="width:50px" value="0"/>
                        <label>旷课学生:</label>
                        <input type="text" name="data[stu_cut_num]" style="width:50px" value="0"/>
                        <label>总体评价: </label>
                        <select class="easyui-combobox" panelHeight="auto" style="width:64px"   name="data[last_evaluate]">
                            <option value="优秀" selected>优秀</option>
                            <option value="良好">良好</option>
                            <option value="一般">一般</option>
                            <option value="差">差</option>
                            <option value="很差">很差</option>
                        </select>

                    </div>

                    <div>
                        <label>课程评价(*)</label>
                        <input class="easyui-textbox" type="text" name="data[comments]" style="height:80px;width:100%"
                               data-options="required:true,multiline:true" />
                    </div>
                </fieldset>
                <fieldset style="margin-top: 20px">
                    <legend>详细信息</legend>
                    <table cellpadding="5">
                        <tr>
                            <td align="right">备课充分:</td>
                            <td align="left">
                                是<input name="data[detail][1]" type="radio" value="是"/>
                                否<input name="data[detail][1]" type="radio" value="否"/>
                            </td>
                            <td>按时上下课:</td>
                            <td align="left">
                                是<input name="data[detail][2]" type="radio" value="是"/>
                                否<input name="data[detail][2]" type="radio" value="否"/>
                            </td>
                            <td>普通话授课:</td>
                            <td align="left">
                                是<input name="data[detail][3]" type="radio" value="是"/>
                                否<input name="data[detail][3]" type="radio" value="否"/>
                            </td>
                            <td>文字规范:</td>
                            <td align="left">
                                是<input name="data[detail][4]" type="radio" value="是"/>
                                否<input name="data[detail][4]" type="radio" value="否"/>
                            </td>
                        </tr>

                    </table>
                </fieldset>
            </fieldset>

            <div style="text-align:center;padding:5px">
                <input type="hidden" name="data[listener_no]" value="{$schedule['conuncilor']}" />
                <input type="hidden" name="id" value="{$schedule['id']}" />
                <a href="javascript:void(0)" class="easyui-linkbutton" style="width: 80px" onclick="saveForm()">提交</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" style="width: 80px" onclick="clearForm()">清除</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" style="width: 80px" onclick="history.back();">返回</a>
            </div>
        </form>
    </div>
</div>

</body>
</html>
