<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui/themes/icon.css">
    <script type="text/javascript" src="/static/jquery-easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/scripts/comm.js"></script>
    <script type="text/javascript" src="/scripts/admin/term.datagrid.js"></script>
    <style>
        #frm_add { padding: 10px;}
        #frm_add div  { margin: 5px;padding: 5px;}
        #frm_add div>label{display: block;margin-bottom: 5px}
        #frm_add div>input{ width: 100%}
    </style>
</head>
<body class="easyui-layout" fit="true">
<div data-options="region:'center'" border="false" style="padding:10px;">
<!-- 操作工具栏 -->
<div id="editToolbar" style="clear: both">
    <a href="http://10.127.98.242/index.php/admin/term/add" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true " onclick="edit()">编辑</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true " onclick="removeRecord()">删除</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:true" onclick="reload()">刷新</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-help',plain:true">帮助</a>
</div>
<!-- DataGrid -->
<table id="datagrd" class="easyui-datagrid" style="width:100%;height:500px" toolbar="#editToolbar" data-options="iconCls:'icon-more',plain:true" >
</table>
</div>
<div data-options="region:'east'" border="false" style="width:400px;padding:10px;">
    <!-- propertygrid  -->

    <!--<form id="frm_add" method="post">-->
        <!--<div>-->
            <!--<label>学期:</label>-->
            <!--<input  style="width: 100%" name="dict[term_name]" value="{$current_term?$current_term:''}"></div>-->
         <!--<div>-->
            <!--<label>开始时间:</label>-->
            <!--<input   class="easyui-datetimebox"  data-options="required:true,showSeconds:false" style="width: 300px" name="dict[start]">-->
        <!--</div>-->
        <!--<div>-->
            <!--<label>结束时间:</label>-->
            <!--<input class="easyui-datetimebox"  style="width: 300px"  data-options="required:true,showSeconds:false" name="dict[end]">-->
        <!--</div>-->
        <!--<div>-->
            <!--<label>默认学期: </label>-->
            <!--<input class="easyui-text" style="" name="dict[default]">-->
        <!--</div>-->
        <!--<div>-->
            <!--<label>说明: </label>-->
            <!--<textarea   style="" name="dict[comment]" > </textarea>-->
        <!--</div>-->
        <!--<div>-->
            <!--<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="saveForm()">添加</a>-->
            <!--&lt;!&ndash;<a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="saveForm()">添加</a>&ndash;&gt;-->
        <!--</div>-->
    <!--</form>-->
</div>
</body>
</html>