<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="save" content="history" charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.4.5/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.4.5/themes/icon.css">
    <script type="text/javascript" src="/static/jquery-easyui-1.4.5/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui-1.4.5/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui-1.4.5/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/scripts/comm.js"></script>
    <script type="text/javascript" src="/scripts/admin/term.form.js"></script>

</head>
<!--<script>
    /*$.extend($.fn.validatebox.defaults.rules, {
        term_name_vali: {
            validator: function(value, param){
                //验证电话号码："/^(\(\d{3,4}-)|\d{3.4}-)?\d{7,8}$/"正确格式为："XXX-XXXXXXX"、"XXXX-XXXXXXXX"、"XXX-XXXXXXX"、"XXX-XXXXXXXX"、"XXXXXXX"和"XXXXXXXX"。
                // /^(?:13\d|15\d|18\d)-?\d{5}(\d{3}|\*{3})$/.test(value);

                return value=/^20\d{2}-20\d{2}-[1-2]$/;
            },
            message: '请输入当前学期，例如：2015-2016-2'
        }
    });*/
    $.extend($.fn.validatebox.defaults.rules, {
        minLength: {
            validator: function(value, param){
                return value.length >= param[0];
            },
            message: 'Please enter at least {0} characters.'
        }
    });
</script>-->
<body  class="easyui-layout">
<div data-options="region:'center',split:true" border="true" style="padding:10px;">
    <div class="easyui-panel" title="{$operation}"  fit="true">
        <form id="ff" method="post" style="padding: 10px">
            <table>
                <tr>
                    <td>学期</td>
                    <td>
                        <input id="term_name"  class="easyui-validatebox" type="text" name="data[term_name]" data-options="required:true,validType:'minLength[5]'" value="{$record.term_name?$record.term_name:''}"/>
                    </td>
                </tr>
                <tr>
                    <td>开始时间</td>
                    <td><input class="easyui-textbox" type="date" name="data[start]"      data-options="required:true" value="{$record.start?$record.start:''}" />
                    </td>
                </tr>
                <tr>
                    <td>结束时间</td>
                    <td><input class="easyui-textbox" type="date" name="data[end]" data-options="required:true"   value="{$record.end?$record.end:''}"/>
                    </td>
                </tr>
                <tr>
                    <td>当前学期</td>
                    <td>
                        <input  name="data[default]"   value="{$record.default?$record.default:''}" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="hidden" name="data[id]" value="{$record.id?$record.id:''}"/>
                        <input type="hidden" name="operation" value="{$operation=='编辑'?'update':'add'}"/>
                        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="saveForm()">保存</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-return'" onclick="returnGrid()">返回</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()" data-options="iconCls:'icon-clear'">清除</a>
                    </td>
                </tr>
            </table>
        </form>

    </div>
</div>
<!--    <div data-options="region:'north',split:true" border="true" style="background-color: #eee;height:100px;padding:0px;margin-top:10px">
        <div class="easyui-panel" title="编辑"></div>
    </div>-->
</body>
</html>