<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="save" content="history" charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.4.5/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/jquery-easyui-1.4.5/themes/icon.css">
    <script type="text/javascript" src="/static/jquery-easyui-1.4.5/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui-1.4.5/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/static/jquery-easyui-1.4.5/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/scripts/comm.js"></script>
    <script type="text/javascript" src="/scripts/admin/term.form.js"></script>
</head>
<body  class="easyui-layout">
<div data-options="region:'center',split:true" border="true" style="padding:10px;">
    <div class="easyui-panel" title="{$operation}"  fit="true">
        <form id="ff" method="post" style="padding: 10px">
            <table>
                <tr>
                    <td>学期</td>
                    <td>
                        <input id="term_name"  class="easyui-textbox" type="text" name="data[term_name]" data-options="required:true,validType:TermValidate()" value="{$record.term_name?$record.term_name:''}"/>
                    </td>
                </tr>
                <tr>
                    <td>开始时间</td>
                    <td><input class="easyui-textbox" type="date" name="data[start]"      data-options="required:true" value="{$record.start?$record.start:''}" />
                    </td>
                </tr>
                <tr>
                    <td>结束时间</td>
                    <td><input class="easyui-textbox" type="date" name="data[end]" data-options="required:true"   value="{$record.end?$record.end:''}"/>
                    </td>
                </tr>
                <tr>
                    <td>当前学期</td>
                    <td>
                        <select class="easyui-combobox" name="data[default]"  data-options="required:true,panelHeight:'auto'" value="{$record.default?$record.default:''}">
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="hidden" name="data[id]" value="{$record.id?$record.id:''}"/>
                        <input type="hidden" name="operation" value="{$operation=='编辑'?'update':'add'}"/>
                        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="saveForm()">保存</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-return'" onclick="returnGrid()">返回</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()" data-options="iconCls:'icon-clear'">清除</a>
                    </td>
                </tr>
            </table>
        </form>

    </div>
</div>
<!--    <div data-options="region:'north',split:true" border="true" style="background-color: #eee;height:100px;padding:0px;margin-top:10px">
        <div class="easyui-panel" title="编辑"></div>
    </div>-->
</body>
</html>