<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <style type="text/css">
        .page{
            width: 80%;

        }
        .top{
            height: 40px;
        }
        .main{
            width: 40%;
            margin: 0px auto;
        }
    </style>
</head>
<body >
    <div class="page">
        <div class="top">
              <b>个人信息：</b>
        </div>
        <div class="main">
          <table  border="0px">
            <tr>
                <td>姓名：</td>
                <td>{$data[0]['teach_name']}</td>
            </tr>
            <tr>
                <td>教师编号：</td>
                <td>{$data[0]['teach_id']}</td>
            </tr>
            <tr>
                <td>所属系部：</td>
                <td>{$data[0]['dept_name']}</td>
            </tr>
            <tr>
                <td>类别：</td>
                <td><?php if($data[0]['teach_role']=="teacher"){
                                   echo "教师";
                                }
                                else{
                                    echo "管理";
                                  }
                                ?>
                </td>
            </tr>

            <tr>
                <td>性别：</td>
                <td>{$data[0]['sex']}</td>
            </tr>
            <tr>
                <td>专业：</td>
                <td>{$data[0]['profess_duty']}</td>
            </tr>
            <tr>
                <td>主修：</td>
                <td>{$data[0]['now_major']}</td>
            </tr>
            <tr>
                <td>类别：</td>
                <td>{$data[0]['holds_teacher']}</td>
            </tr>
            </tr>
            <td>入校时间</td>
            <td>{$data[0]['In_school_time']}</td>
            </tr>
        </table>
        </div>
    </div>
</body>
</html>